<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
  style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
  <!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
  <div class="wp-block-group alignwide">
    <!-- wp:template-part {"slug":"header","theme":"personal-code-theme","area":"header"} /-->

    <!-- wp:query {"queryId":9,"query":{"perPage":20,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"tagName":"main","layout":{"type":"default"}} -->
    <main class="wp-block-query"><!-- wp:post-template {"fontFamily":"system-default"} -->
      <!-- wp:post-title {"isLink":true,"linkTarget":"_blank","style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"typography":{"lineHeight":1.6}},"textColor":"black"} /-->

      <!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray"}}},"typography":{"fontStyle":"italic","fontWeight":"300","lineHeight":1.6}},"textColor":"gray","fontFamily":"system-default"} /-->

      <!-- wp:post-excerpt {"showMoreOnNewLine":false,"excerptLength":50,"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"typography":{"lineHeight":1.6}},"textColor":"black"} /-->

      <!-- wp:post-terms {"term":"post_tag","separator":""} /-->
      <!-- /wp:post-template -->

      <!-- wp:query-pagination -->
      <!-- wp:query-pagination-previous /-->

      <!-- wp:query-pagination-numbers /-->

      <!-- wp:query-pagination-next /-->
      <!-- /wp:query-pagination -->

      <!-- wp:query-no-results -->
      <!-- wp:paragraph {"placeholder":"Füge Text oder Blöcke hinzu, die angezeigt werden, wenn eine Abfrage keine Ergebnisse ausgibt."} -->
      <p></p>
      <!-- /wp:paragraph -->
      <!-- /wp:query-no-results -->
    </main>
    <!-- /wp:query -->

    <!-- wp:template-part {"slug":"footer","theme":"personal-code-theme","area":"footer"} /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->