<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"fontFamily":"jetbrains-mono","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-jetbrains-mono-font-family"
  style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--60);padding-right:0;padding-bottom:var(--wp--preset--spacing--60);padding-left:0">
  <!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
  <div class="wp-block-group alignwide">
    <!-- wp:template-part {"slug":"header","theme":"personal-code-theme","area":"header"} /-->

    <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
    <main class="wp-block-group">
      <!-- wp:group {"tagName":"article","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
      <article class="wp-block-group" style="margin-top:0;margin-bottom:0">
        <!-- wp:post-title {"level":1,"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"typography":{"lineHeight":1.6}},"textColor":"black"} /-->

        <!-- wp:post-date {"style":{"spacing":{"margin":{"right":"0","left":"0","top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|gray"}}},"typography":{"lineHeight":"1.8"}},"textColor":"gray"} /-->

        <!-- wp:post-terms {"term":"post_tag","separator":"","style":{"spacing":{"margin":{"top":"0","bottom":"0","left":"0","right":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"typography":{"lineHeight":"1.8"}},"textColor":"black"} /-->

        <!-- wp:post-content {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"},"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"typography":{"lineHeight":"1.8"}},"textColor":"black","fontFamily":"jetbrains-mono"} /-->
      </article>
      <!-- /wp:group -->
    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"personal-code-theme","area":"footer"} /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->