<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
  style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--60);padding-right:0;padding-bottom:var(--wp--preset--spacing--60);padding-left:0">
  <!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
  <div class="wp-block-group alignwide">
    <!-- wp:template-part {"slug":"header","theme":"personal-code-theme","area":"header"} /-->

    <!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
    <article class="wp-block-group"><!-- wp:post-title {"level":1} /-->

      <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
      <div class="wp-block-group"
        style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20)">
        <!-- wp:post-date /-->

        <!-- wp:post-terms {"term":"post_tag","separator":""} /-->
      </div>
      <!-- /wp:group -->

      <!-- wp:post-content {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /-->
    </article>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"personal-code-theme","area":"footer"} /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->