h2.wp-block-post-title {
  font-size: 1.3em;
  margin: 0;
}
h2.wp-block-post-title a {
  color: #252525;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: #10a2f5;
}