h2.wp-block-heading,
h3.wp-block-heading,
h4.wp-block-heading {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.75em;
}
h3.wp-block-heading {
  font-size: 1.3em;
}
h4.wp-block-heading {
  font-size: 1.1em;
}